[Unit]
Description=Check if Wavelog is online
Requires=network-online.target

[Service]
Type=oneshot
ExecStart= ./home/ubuntu/wavelog-scripts/scripts/monitor-health.sh tor-health.sh
